<!DOCTYPE html>
<html lang="en">
{% block scripts %}
    {{ bootstrap.load_js() }}
{% endblock %}
<section class="d-flex justify-content-center  p-4 border-top">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get in touch with me on:</span>
    </div>

    <!-- Right -->
    <div>
        <a href="https://www.facebook.com/bogdan.bonev.31" class="me-4 text-reset" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.linkedin.com/in/b-bonev/" class="me-4 text-reset" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/b.bonevv/" class="me-4 text-reset" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/bbonev14" class="me-4 text-reset" target="_blank"><i class="fab fa-github"></i></a>
    </div>

    <!-- Footer -->
</section>

<footer class="text-muted py-5 bg-dark shadow-sm" id="footer">
  <div class="container">
      <a href="#header" class="btn btn-outline-light float-end mb-1">Back to top</a>
    <p class="mb-1">Made with love by Bogdan Bonev. Inspired by <a href="https://laptopfriendly.co/" target="_blank">laptopfriendly.co</a></p>
    <p class="mb-0">For more info about me you can <a href="#">visit my website</a> or just see my personal card <a href="#">here</a>.</p>
  </div>
</footer>